#navBar {
  /* Sourced from @_ighosh*/
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #000000 , #434343); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #000000 , #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
  background-color: #D3D3D3;
}

#navButton {
  color: white;
}

#navButton:hover {
  color: gray;
}

.background-image {
  height: 243px;margin: 0px;padding: 0px;overflow: hidden;
  background:  url('../images/versailles.jpg') no-repeat center center;
  background-image: url('../images/versailles.jpg');
}


@media only screen and (max-width: 500px) {
  #round-image {
    width: 20%;
  	height: 30%;
    border-radius: 10px / 20px ;
    border-style: solid;
    border-width: 5px;
    text-align: center;
    z-index: 1;
    top: -75px;
    }
}

#paragraph {
  font-family: 'PT Sans', serif;
  font-size: 2em;
}

.top-buffer {
  margin-top: 1em;
}

#round-image {
  width: 200px;
	height: 300px;
  border-radius: 20px / 40px ;
  border-style: solid;
  border-width: 5px;
  position: relative;
  z-index: 1;
  top: -75px;
  left: 10%;
  size: 10%;
}
