html, body {
	background: #437c90; /* A light blue */
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    background: #437c90; /* A light blue */
	
}
body {
	font: 100% 'Space Mono', serif;;
	width: 80%;
    background: #437c90; /* A light blue */
	margin-right: auto;
	margin-left: auto;
	padding: 2.5% 2.5% 0;
	background: #437c90; 
	line-height: 1.8;
}
h1 {
	font-size: 1.6em;
	margin-bottom: 1.4em;
    text-align: center;
	color: rgb(238, 235, 211);
}

img {
   display: block;
    margin: auto;
    width: 20%;
}
p {
    font: 100% 'Press Start 2P', serif;
    line-height: 3em;
	margin-bottom: 1em;
}


